.gallery{
    position: relative;
}
.gallery-newItemBtn-wrap{
    text-align: center;
}
.gallery-newItemBtn{
    display: none!important;
}

.gallery-preloader{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
}
.gallery-preloader span{
    position: absolute;
    padding: 10px 50px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
    color: #fff;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
