@font-face {
    font-family: 'Adventure';
    src: url(../fonts/agatinter/Adventure.ttf);
}

@font-face {
    font-family: 'Bebas';
    src: url(../fonts/agatinter/BebasNeueCyrillic_0.ttf);
}

@font-face {
    font-family: 'ClearSans';
    src: url(../fonts/agatinter/ClearSans-Thin.ttf);
}
.card.horizontal{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.card.horizontal .card-image {
    max-width: 50%;
}
.card.horizontal .card-image img {
    max-width: 100%;
    width: auto;
}
.card.horizontal .card-stacked {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}
.card.horizontal .card-stacked .card-content {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.no-pad-bot {
    padding-bottom: 0 !important;
}

.no-marg-bot {
    margin-bottom: 0 !important;
}

.no-pad {
    padding: 0 !important;
}

.fullHeight {
    height: 100%;
}

.fullHeight .valign-wrapper {
    height: 100%;
}

.fullWidth {
    width: 100%;
}

.relative {
    position: relative;
}

.page-content {
    position: relative;
    z-index: 2;
    padding-left: 200px;
}

.info {
    text-align: center;
}

.title {
    font-size: 48px;
    font-family: "Bebas";
    margin: 0;
}

.subtitle {
    font-size: 18px;
    font-family: "Adventure";
    margin: 0;
}

.zone-right .title {
    margin-left: -150px;
}

.zone-right .subtitle {
    margin-left: 150px;
    text-indent: -150px;
}

.bg-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.bg-picture {
    width: 100%;
}

.bg-shadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.vertical-slider .service {
    margin-left: 40px;
}

.service-title {
    font-family: "Bebas";
    margin: 0;
}

.service-description {
    font-family: 'CleanSans';
    margin: 0;
}

.service-small {
    margin-bottom: 0;
    padding-right: 30px;
}

.service-small .service-icon {
    padding: 0 !important;
    font-size: 0;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}

.service-small .service-icon img {
    width: 100%;
}

.service-small .service-title {
    font-size: 1.4rem;
}

.service-small .service-description {
    font-size: 1.2rem;
    line-height: 18px;
}

.service-small:after {
    content: '';
    display: block;
    clear: both;
}

.service-big-content {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 50px;
    overflow-x: auto;
}

.service-big-content .service-title {
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.service-big-content .service-description p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.service.active .service-small {
    background-color: rgba(0, 0, 0, 0.08);
}

.service.active .service-title {
    color: #04396c;
}

.service-link {
    display: block;
    color: #000;
    outline: none;
    padding: 10px 0 10px 10px;
    position: relative;
    left: 10px;
}

.service-link:hover .service-small {
    background-color: rgba(0, 0, 0, 0.08);
}

/*certificate*/
.certificate-small {
    margin-bottom: 0;
}
.certificate-small .card-image{
    width: 150px;
    overflow: hidden;
}
.certificate-small .card-image img{
    width: 100%!important;
}
.certificate-small .card-title{
    padding-left: 20px;
}
.certificate.active .card{
    background: rgba(0, 0, 0, 0.08);
}
.certificate-link {
    display: block;
    color: #000;
    outline: none;
    padding: 0;
    position: relative;
    transition: background 0.5s ease;
}
.certificate-link:hover{
    background: rgba(0, 0, 0, 0.08);
}
.certificate-slider{
    padding: 0 20px;
}
.certificate-big-content{
    overflow: hidden;
    text-align: center;
    background: rgba(0, 0, 0, 0.08);
}
.certificate-big-content img{
    height: 100%;
}
#preloader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.preloader-item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gallery-item {
    padding: 10px;
    box-sizing: border-box;
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

.gallery-item.slick-current {
    background-color: rgba(0, 0, 0, 0.12);
}

.gallery-item.active {
    outline: none;
}

.gallery-item-container {
    margin: 0 !important;
}

.gallery-item-container .col:first-child {
    padding-left: 0 !important;
}

.gallery-item-container .col:last-child {
    padding-right: 0 !important;
}

.gallery-item-container .card {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    max-height: 200px;
    overflow: hidden;
}

.gallery-item-container .card-image {
    cursor: pointer;
}

.gallery-item-container .card-reveal {
    overflow: hidden;
}

.gallery-list {
    padding-left: 45px;
    padding-right: 10px;
}

.gallery-list .gallery-item:not(.slick-current) {
    opacity: 0.6;
}

.gallery-list .gallery-item:not(.slick-current):hover {
    opacity: 1;
    cursor: pointer;
}

.gallery-list .slick-list {
    overflow: hidden;
}

.gallery-list .vertical-slider-button-up {
    top: 10px;
}

.gallery-list .vertical-slider-button-down {
    bottom: 10px;
}

.gallery-big {
    padding: 0 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.gallery-big .gallery-item {
    overflow: hidden;
}

.gallery-big .gallery-item.active {
    outline: none;
}

.gallery-big .gallery-item .card {
    background: none;
    height: 49%;
    margin: 0 !important;
}

.gallery-big .gallery-item .card-image {
    height: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}

.gallery-big .gallery-item .card-image img {
    transition: opacity 0.5s ease;
}

.gallery-big .gallery-item .card-image:hover img {
    opacity: 0.75 !important;
}

#big-picture {
    display: none;
}

.big-picture {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.big-picture img {
    max-width: 100%;
    opacity: 0;
}

.big-picture-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.big-picture-description {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
    padding: 10px;
    background-color: #fff;
    transition: right 0.5s ease 1s;
}
